<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.main.collabar">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/remote_launcher"
        android:label="Collaborative AR"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.main.collabar.ARMain"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="com.main.collabar.RemoteMain"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="com.main.collabar.LoginActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>